{{#if @site.cover_image}}
<div class='remove-color-overlay'></div>
{{/if}}
<div class="site-cover u-overlay">
    {{#if @site.cover_image}}
        <img class="cover-image lazyload jarallax-img u-object-fit"
            data-src="{{img_url @site.cover_image}}"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            alt="{{@site.title}}">
    {{else}}
        <img class="cover-image lazyload jarallax-img u-object-fit"
        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%23DE1444;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%23FF7F66;stop-opacity:1' /%3E%3C/linearGradient%3E%3Crect width='100%25' height='100%25' fill='url(%23g)' /%3E%3C/svg%3E"
        alt="{{@site.title}}">
    {{/if}}
    <div class="cover-content">
        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}
        {{> search}}
    </div>
</div>
